@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #01080c;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding:0;
    align-items: center;
    border-bottom: 1px solid #808080;
}

header p {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: 'Yeseva One', sans-serif;
    padding: 1.5em 0;
}

main {
    padding-top: 65px;
    font-family: 'Montserrat';
    width: 90%;
    margin: auto;
    padding-top: 3em;
}

main h1 {
    color: white;
    font-family: 'Yeseva One', sans-serif;
    font-size: 3em;
}

main #main-text {
    font-size: 15px;
    color: #858880;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
}

main ul {
    margin: auto;
    text-align: center;
}

main ul span {
    background-color: #0cd39b;
}

main li {
    background-color: #01080c;
    color:white;
    border: none;
    font-weight: lighter;
    padding: 0.5em;
}

main h1 .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2px;
    width: 79vw;
    height: auto;
    column-gap: 6px;
}

.div1 {
    padding: 8px;
    margin: 0;
}

.div1 #point {
    color: #0cd39b
}

.image {
    width: 100%;
    height: auto;
}

.image img {
    width: 100%;
}

header nav i {
    margin: 1em 0.5em;
}

#highlight {
    color:#0cd39b;
}

li {
    display: inline;
    color: white;
    font-size: 15px;
}

footer {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
  
  main h1 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
    width: 79vw;
    height: auto;
    column-gap: 6px;
  }
  
  .image { 
    display: none; 
  } 

  .image:nth-child(-n+9) { 
    display: block; 
  } 

}