body {
    padding: 0;
    text-align: center;
    width: 80%;
    background-color: #0e2a3d;
    margin: auto;
    color: #ffffff
}
h2 {
    font-family: "Montserrat", sans-serif;
}
main {
    color: rgb(255, 255, 255);
    width: 50%;
    background-color: transparent;
    font-family: "Yeseva One", serif;
    font-weight: 200;
    font-style: normal;
    margin: auto;
    height: 100vh;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 200;
    font-style: normal;
  }

.montserrat-greg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

nav {
    background-color: #0f2d42;
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }

nav ul {
    color: #ffffff;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: 400;
}

a:visited {
    color: #ebdc0c
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        background-color: #f1f1f1;
    }
    h1 {
        font-size: 24px; 
    }
}